$grid-gutter-width: 20px;

@import '../../node_modules/bootstrap/scss/bootstrap';

$mainHeight: 600px;

#toolbar {
  border: solid 1px #444;
  background-color: #ddc;
  padding: 4px;
  margin-bottom: 5px;
}

#canvasWrapper {
  border: solid 1px black;
  background-color: #ccf;
}

#mapCanvas {
  width: 100%;
  height: $mainHeight;
}

#plotEditor {
  font-size: .8rem;
  max-height: $mainHeight;
  overflow: auto;
  border: solid 1px black;
  padding: 5px;

  .card.highlighted {
    background-color: #ffc;
  }

  .card-body {
    padding: .25rem;

    input[type=checkbox] {
      margin-left: 8px;
    }

    .btn {
      font-size: 10px;
      padding: 2px 4px;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  .noncontiguous {
    margin-top: 1rem;
  }
}
