@import '../node_modules/bootstrap/scss/bootstrap';

$mainHeight: 1200px;

#canvasWrapper {
  border: solid 1px black;
  background-color: #ccf;
}

#canvas {
  width: 100%;
  height: $mainHeight;
}

#editor {
  font-size: .8rem;
  max-height: $mainHeight;
  overflow: auto;
  border: solid 1px black;

  .card.highlighted {
    background-color: #ffc;
  }

  .card-body {
    padding: .25rem;

    input[type=checkbox] {
      margin-left: 8px;
    }

    .btn {
      font-size: 10px;
      padding: 2px 4px;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  .noncontiguous {
    margin-top: 1rem;
  }
}
