@import '../node_modules/bootstrap/scss/bootstrap';

$mainHeight: 400px;

#canvasWrapper {
  border: solid 1px black;
  background-color: #ccf;
}

#canvas {
  width: 100%;
  height: $mainHeight;
}

#editor {
  font-size: .8rem;
  max-height: $mainHeight;
  overflow: auto;
  border: solid 1px black;

  .card-body {
    padding: .25rem;
  }

  .noncontiguous {
    margin-top: 1rem;
  }
}
